# Documentation: http://docs.travis-ci.com/user/languages/julia/
language: julia
os:
  - linux
  - osx
  - windows
julia:
  - 1.0
  - 1.1
  - 1.2
  - nightly
matrix:
  allow_failures:
    - julia: nightly
  fast_finish: true
notifications:
  email: false
after_success:
  - julia -e 'using Pkg; Pkg.add("Coverage"); using Coverage; Codecov.submit(process_folder())'
jobs:
  include:
    - os: windows
      arch: x86
      julia: 1.0
      name: "Julia: 1.0 (32bit)"
    - os: windows
      arch: x86
      julia: 1.1
      name: "Julia: 1.1 (32bit)"
    - os: windows
      arch: x86
      julia: 1.2
      name: "Julia: 1.2 (32bit)"
    - os: windows
      arch: x86
      julia: nightly
      name: "Julia: nightly (32bit)"
    - stage: Documentation
      julia: 1.1
      script: julia --project=docs -e '
          using Pkg;
          Pkg.develop(PackageSpec(path=pwd()));
          Pkg.instantiate();
          include("docs/make.jl");'
      after_success: skip
  allow_failures:
    - arch: x86
