name = "InfiniteOpt"
uuid = "20393b10-9daf-11e9-18c9-8db751c92c57"
authors = ["Joshua Pulsipher and Weiqi Zhang"]
version = "0.3.1"

[deps]
JuMP = "4076af6c-e467-56ae-b986-b466b2749572"
MathOptInterface = "b8f27783-ece8-5eb3-8dc8-9495eed66fee"
Distributions = "31c24e10-a181-5473-b8eb-7969acd0382f"
FastGaussQuadrature = "442a2c76-b920-505d-bb47-c5924d526838"
DataStructures = "864edb3b-99cc-5e75-8d2d-829cb0a9cfe8"
Polynomials = "f27b6e38-b328-58d1-80ce-0feddd5e7a45"

[compat]
julia = "1"
JuMP = "~0.21.4"
FastGaussQuadrature = "^0.3.2, ~0.4"
Distributions = "~0.19, ~0.20, ~0.21, ~0.22, ~0.23"
MathOptInterface = "~0.9.16"
DataStructures = "^0.14.2, ~0.15, ~0.16, ~0.17, ~0.18"
Polynomials = "~1.0, ~1.1"

[extras]
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"
Random = "9a3f8284-a2c9-5f02-9a11-845980a1fd5c"

[targets]
test = ["Test", "Random"]
